<header id="masthead" class="site-header" role="banner">
		<div class="site header-wrapper">
		<div class="up-header">
			<div class="logo">				<a href="http://indosole.com/"><img src="http://indosole.com/wp-content/uploads/2013/07/logo.png" class="header-image" width="530" height="119" alt=""></a>
			</div>
	<div class="ticker">
      <iframe width="149" height="76" src="http://indosole.com/ticker/" scrolling="no" allowtransparency  frameborder="no" seamless > </iframe>
		</div>		</div>
			
	</div>
	<div class="clear"></div>
		</div>


		<hgroup>
			<h1 class="site-title"><a href="http://indosole.com/" title="INDOSOLE" rel="home">INDOSOLE</a></h1>
			<h2 class="site-description"></h2>
		</hgroup>

		<nav id="site-navigation" class="main-navigation" role="navigation">
			<h3 class="menu-toggle">Menu</h3>
			<a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
			
<div class="menu-main-menu-container"><ul id="menu-main-menu" class="nav-menu"><li id="menu-item-121" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-121"><a href="http://indosole.com/shop/">SHOP</a>
<ul class="sub-menu">
	<li id="menu-item-43" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43"><a href="http://indosole.myshopify.com/pages/mens">Mens</a>
	<ul class="sub-menu">
		<li id="menu-item-44" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44"><a href="http://indosole.myshopify.com/collections/mens/sandals">sandals</a></li>
		<li id="menu-item-45" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45"><a href="http://indosole.myshopify.com/collections/mens/shoes">shoes</a></li>
	<li id="menu-item-893" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-893"><a href="http://indosole.myshopify.com/collections/mens/clothing">Clothing</a></li>
      </ul>
</li>
	<li id="menu-item-48" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48"><a href="http://indosole.myshopify.com/pages/womens">Womens</a>
	<ul class="sub-menu">
		<li id="menu-item-49" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-49"><a href="http://indosole.myshopify.com/collections/womens/sandals">sandals</a></li>
		<li id="menu-item-50" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a href="http://indosole.myshopify.com/collections/womens/shoes">shoes</a></li>
     <!-- <li id="menu-item-894" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-894"><a href="http://indosole.myshopify.com/collections/womens/clothing">Clothing</a></li>
	-->	
</ul>
</li>
</ul>
</li>
<li id="menu-item-486" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-486"><a href="http://indosole.com/collections/collections-main/">COLLECTIONS</a>
<ul class="sub-menu">
	<li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href="http://indosole.com/collections/2013-collection/">2013</a></li>
	<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="http://indosole.com/collections/2012-collection/">2012</a></li>
</ul>
</li>
<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="http://indosole.com/story/">STORY</a></li>
<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15 current_page_item menu-item-36"><a href="http://indosole.com/good-humans/">GOOD HUMANS</a></li>
<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="http://indosole.com/indolife/">INDOLIFE</a></li>
<li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a href="http://indosole.com/stores/">RETAILERS</a></li>
<li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a href="http://indosole.com/contact/">CONTACT</a></li>
</ul></div>
				</nav><!-- #site-navigation -->

	
		</div>
	</header>